Godot/addons/
Godot/backend/talk_interactions/stt/model/
Godot/backend/talk_interactions/tts/model.pt
Godot/backend/talk_interactions/tts/tmpe07vqifw
Godot/*.import/
Godot/models.yml
Godot/latest_silero_models.yml
*.import
Godot/assets/TileSet/Environment/*.import